<h1>Users</h1>
{{!-- Add Navigation to the New User route --}}
<BsNav @type="pills" as |nav|>
  <nav.item><nav.linkTo @route="users.new">New</nav.linkTo></nav.item>
</BsNav>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        {{!-- Add an Actions column--}}
        <th>Actions</th>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each @model as |user|}}
        <tr>
          {{!-- Add Navigation to the Show and Edit routes --}}
          <td>
            <LinkTo @route="users.show" @model={{user}}>Show</LinkTo>&nbsp;
            <LinkTo @route="users.edit" @model={{user}}>Edit</LinkTo>

          </td>
          {{!-- wrap the user's data in a link to the Show route --}}
          <td><LinkTo @route="users.show" @model={{user}}>{{user.id}}</LinkTo></td>
          <td><LinkTo @route="users.show" @model={{user}}>{{user.username}}</LinkTo></td>
          <td><LinkTo @route="users.show" @model={{user}}>{{user.firstName}}</LinkTo></td>
          <td><LinkTo @route="users.show" @model={{user}}>{{user.lastName}}</LinkTo></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}